body {
  text-align: center;
}

table {
  border: 1px solid gray;
  margin: auto;
}

table tr th {
  font-size: small;
  font-weight: normal;
}

table tr td {
  border: 1px solid lightgray;
}

table#field tr td {
  height: 32px;
  text-align: center;
  width: 32px;
}

#field tr td.selected {
  color: green;
  font-weight: bold;
}

#field tr td.infocus {
  border-color: orange;
  color: green;
  font-weight: bold;
}

#input.valid {
  color: green;
}

#input.invalid {
  color: red;
}

table#words {
  width: 200px;
}

table#words tr th:first-child {
  width: 100%;
}

table#words tr td button {
  color: red;
}

